<html>
<style>
    .bordered-div {
            width: 200px;
            border: 2px solid #333; /* Shorthand notation for border-width, border-style, and border-color */
            padding: 10px; /* Optional padding to separate content from border */
        }
</style>
<script>
    function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            // Search for a cookie that starts with the given name
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
function sendDataToDjango(func, data) {
    // Data to send
    var dataToSend = {
        func: func,
        data: data
        // Add more data as needed
    };

    // AJAX request
    $.ajax({
        type: 'POST',
        url: '/handle_request/',  // Update with the actual URL
        data: JSON.stringify(dataToSend),
        contentType: 'application/json; charset=utf-8',
        dataType: 'json',
        headers: {
            'X-CSRFToken': getCookie('csrftoken')  // Include CSRF token in the headers
        },
        success: function(response) {
            // Handle the response from the Django view
            console.log(response);
            data_set=response;
        },
        error: function(error) {
            // Handle errors
            console.error('Error:', error);
        }
    });
}
function signup() {
            // Use the window.location.href to set the URL
            window.location.href = "{% url 'signup' %}";
        }
function blog_list() {
            // Use the window.location.href to set the URL
            window.location.href = "{% url 'news' %}";
        }
function block_create() {
            // Use the window.location.href to set the URL
            window.location.href = "{% url 'add_data' %}";
        }
</script>
<body>
   <h1 style="text-align:center">Instalab</h1>
   {% with js_email=email %}
   <script>
    var email = "{{ js_email }}";
</script>
   {% endwith %}
   <p>{{email}}</p>
   <div class='bordered-div'>
You  can<br>
1. Add posts.<br>
2. Comment posts.<br>
3, Change posts.<br>
4. View posts.<br>
and other activity
</div>
<p style="text-align:center;"><button onclick="signup()" style="color: white; background-color: #000000; border: 2px solid #04AA6D;">signup. If you dont</button></p>

<p style="text-align:center;"><button onclick="block_create()" style="color: white; background-color: #000000; border: 2px solid #04AA6D;">create own block</button></p>
<p style="text-align:center;"><button onclick="blog_list()" style="color: white; background-color: #000000; border: 2px solid #04AA6D;">watch blogs</button></p>
</body>
</html>